@font-face {
    font-family: 'LeeSeoyun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family:'LeeSeoyun';
}
		
a {text-decoration:none;}

a:link {
	color:#3d3d3d;
}

a:visited {
	color:#3d3d3d;
}

a:hover {
	color:#d57fff;
}

hr.board {
	border-color:#cd77fc;
	border-style:solid;
	border-width:2px;
			}

